@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  outline: none;

}


body{
  background: #fff;
  font: 14px;
  -webkit-font-smoothing: antialiased !important;
font-family: 'Roboto', sans-serif;
}

